# 查询语句扩展

在上一篇<简单的增删改查>中我们已经介绍过简单的查询语句,其形式为
```SQL
SELECT (列1, 列2, 列3, ……)
FROM <表名>
[
 WHERE <条件>

]
[
 ORDER BY (列1, 列2, 列3, ……) [DESC]
]
[
 LIMIT <行数>
]
```

我们可以认为这是最基础的查询语法.本文将介绍在复杂查询外的基础查询语句扩展,主要包括

+ 列别名
+ 字段值去重
+ 简单计数
+ 运算符,函数和常数查询
+ 谓词和比较运算
+ 使用逻辑运算符连接查询条件
+ 查询嵌套

In [1]:
-- connection: postgres://postgres:postgres@localhost:5432/postgres

In [2]:
-- autocommit: true

switched autocommit mode to True

## 准备工作

本文依然使用商品表来作为例子,只是其中的数据和表结构略有改变

> 商品表

商品名|品牌|颜色款式|商品种类|商品价格|进货价格|登记日期
---|---|---|---|---|---|---
ATS001|A|黑白宽条纹款|T恤|59|30|2019-06-02 10:00:00
ATS002|A|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
ATSY001|A|蓝白宽条纹初音限定款|T恤|299|45|2020-04-02 10:00:00
BTS001|B|黑白宽条纹款|T恤|59|30|2020-02-02 10:00:00
BTS002|B|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
BTSY001|B|纯白款|T恤|49|20|2020-04-02 10:00:00
ASS000|A|黑色款|短裤|99|60|2020-03-05 10:00:00
ASS001|A|米色款|短裤|99|60|2020-03-05 10:00:00
ASSY001|A|米色底红色花纹超人限定款|短裤|599|140|2020-04-02 10:00:00
BSS001|B|黑色款|短裤|89|50|2020-03-05 10:00:00
BSS002|B|黑底白花款|短裤|96|60|2019-10-05 10:00:00
BSS003|B|白底红花款|短裤|96|60|2020-03-05 10:00:00

In [3]:
CREATE TABLE IF NOT EXISTS Commodity
(id     serial4    PRIMARY KEY,-- 商品id,
 name    VARCHAR(100) NOT NULL UNIQUE,-- 商品名
 brand   VARCHAR(32)  NOT NULL, -- 品牌
 style   VARCHAR(100) NOT NULL, -- 款式
 type    VARCHAR(32)  NOT NULL, -- 商品类型
 sale_price      INT4      DEFAULT 0, -- 售价
 purchase_price  INT4      , -- 进价
 ctime     TIMESTAMPTZ  DEFAULT (now()) --商品录入的时间,默认为当前时间
)

In [4]:
INSERT INTO Commodity ( 
    name,
    brand,
    style,
    type,
    sale_price,
    purchase_price ,
    ctime
) VALUES (
    'ATS001',
    'A',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2019-06-02T10:00:00.000Z'
),
(
    'ATS002',
    'A',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),
(
    'ATSY001',
    'A',
    '蓝白宽条纹初音限定款',
    'T恤',
    299,
    45,
    '2020-04-02T10:00:00.000Z'
),
(
    'BTS001',
    'B',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2020-02-02T10:00:00.000Z'
),
(
    'BTS002',
    'B',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),

(
    'BTSY001',
    'B',
    '纯白款',
    'T恤',
    49,
    20,
    '2020-04-02T10:00:00.000Z'
),
(
    'ASS000',
    'A',
    '黑色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASS001',
    'A',
    '米色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASSY001',
    'A',
    '米色底红色花纹超人限定款',
    '短裤',
    599,
    140,
    '2020-04-02T10:00:00.000Z'
),


(
    'BSS001',
    'B',
    '黑色款',
    '短裤',
    89,
    50,
    '2020-03-05T10:00:00.000Z'
),
(
    'BSS002',
    'B',
    '黑底白花款',
    '短裤',
    96,
    60,
    '2019-10-05T10:00:00.000Z'
),
(
    'BSS003',
    'B',
    '白底红花款',
    '短裤',
    96,
    60,
    '2020-03-05T10:00:00.000Z'
)

In [5]:
SELECT * FROM Commodity

12 row(s) returned.

  id  name     brand    style                     type      sale_price    purchase_price  ctime
----  -------  -------  ------------------------  ------  ------------  ----------------  -------------------------
   1  ATS001   A        黑白宽条纹款              T恤               59                30  2019-06-02 10:00:00+00:00
   2  ATS002   A        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   3  ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2020-04-02 10:00:00+00:00
   4  BTS001   B        黑白宽条纹款              T恤               59                30  2020-02-02 10:00:00+00:00
   5  BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   6  BTSY001  B        纯白款                    T恤               49                20  2020-04-02 10:00:00+00:00
   7  ASS000   A        黑色款                    短裤              99                60  2020-03-05 10:00:00+00:00
   8  ASS001   A        米色款                    短裤              99                60  2020-03-05 10:00:00+00:00
   9  ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2020-04-02 10:00:00+00:00
  10  BSS001   B        黑色款                    短裤              89                50  2020-03-05 10:00:00+00:00
  11  BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00
  12  BSS003   B        白底红花款                短裤              96                60  2020-03-05 10:00:00+00:00

## 列别名

我们使用`SELECT * FROM Commodity` 获取到的数据可以看到是英文的,如果让一个不会英文的来看那肯定看不懂,这时候就可以使用列别名了,语法也很简单,在`SELECT`子句中显式的将字段用`AS`赋予别名即可.

```SQL
SELECT <列名> AS <列别名>,
....
```

我们修改上面的语句来实现这个功能

In [6]:
SELECT name AS 商品名,
brand AS 品牌,
style AS 颜色款式,
type AS 商品类型,
sale_price AS 商品价格,
purchase_price AS 进货价格,
ctime AS 登记日期
FROM Commodity

12 row(s) returned.

商品名    品牌    颜色款式                  商品类型      商品价格    进货价格  登记日期
--------  ------  ------------------------  ----------  ----------  ----------  -------------------------
ATS001    A       黑白宽条纹款              T恤                 59          30  2019-06-02 10:00:00+00:00
ATS002    A       蓝白宽条纹款              T恤                 79          40  2020-03-02 10:00:00+00:00
ATSY001   A       蓝白宽条纹初音限定款      T恤                299          45  2020-04-02 10:00:00+00:00
BTS001    B       黑白宽条纹款              T恤                 59          30  2020-02-02 10:00:00+00:00
BTS002    B       蓝白宽条纹款              T恤                 79          40  2020-03-02 10:00:00+00:00
BTSY001   B       纯白款                    T恤                 49          20  2020-04-02 10:00:00+00:00
ASS000    A       黑色款                    短裤                99          60  2020-03-05 10:00:00+00:00
ASS001    A       米色款                    短裤                99          60  2020-03-05 10:00:00+00:00
ASSY001   A       米色底红色花纹超人限定款  短裤               599         140  2020-04-02 10:00:00+00:00
BSS001    B       黑色款                    短裤                89          50  2020-03-05 10:00:00+00:00
BSS002    B       黑底白花款                短裤                96          60  2019-10-05 10:00:00+00:00
BSS003    B       白底红花款                短裤                96          60  2020-03-05 10:00:00+00:00

## 字段值去重

比如我们需要知道我们的商品库中有哪几个品牌的产品该怎么办呢?这种时候就需要通过对行中的品牌列做去重了,去重使用关键字`DISTINCT`,它在一些数据库管理程序中也可以作为函数使用,它通常也是在`SELECT`子句中使用的

In [7]:
SELECT DISTINCT brand AS 品牌 FROM Commodity

2 row(s) returned.

品牌
------
B
A

## 简单计数

比如我们希望知道我们一共有多少件商品该怎么办呢?这种时候我们就需要使用函数`count`,它可以统计非空行的数量.要统计一张表的总行数通常我们使用`count(*)`或者`count(1)`来查询.在pg这个数据库管理系统中通常`count(*)`更加高效

In [8]:
SELECT count(*) AS 总件数 FROM Commodity

1 row(s) returned.

  总件数
--------
      12

## 运算符,函数和常数查询

我们的`SELECT`语句并不是必须要有`FROM`子句才能查询的,没有声明`FROM`子句的查询通常被称为常数的查询,一般来说常数的查询相当于将数据库管理平台作为计算平台在使用,既然是计算的话就会需要有运算符和函数(运算符可以看作函数的简写).通常这些算数运算符和函数各种数据库管理软件都会有内置,只是可能命名不同.

数据库最常处理的数据类型无非这么几种:

+ 数值型

+ 字符串型

+ 时间型


运算符和函数不止可以在`SELECT`子句中使用,也可以用在`WHERE`子句中.

### 数值型

数值型数据一般都有加减乘除(`+,-,*,/`)运算符,更进一步的一些算数函数也通常是各种数据库管理软件中内置的,常见的有

函数名|函数解释
---|---
`ROUND(对象数值，保留小数的位数)`|浮点型数据确定精度(四舍五入)
`ABS(对象数值)`|求绝对值
`MOD(对象数值,除数)`|求余

In [9]:
SELECT (2+3)*12::float/7 as result

1 row(s) returned.

  result
--------
 8.57143

### 字符串型

字符串型一般运算符就是`||`拼接(pg中),函数的话一般都有:

函数名|函数解释
---|---
`LENGTH(对象字符串)`|求字符串长度
`LOWER(对象字符串)`|求字符串的全小写形式
`UPPER(对象字符串)`|求字符串的全大写形式
`REPLACE(对象字符串,替换前的字符串,替换后的字符串)`|替换字符串中的子串
`SUBSTRING（对象字符串,截取的起始位置,截取的字符数）`|截取字符串,获取其中的子串

In [12]:
SELECT UPPER('abc' || '123') as result

1 row(s) returned.

result
--------
ABC123

### 时间数据

另一种常见的数据类型就是时间数据,时间处理各个数据库管理系统往往实现不同,但有这么几个是sql语言规定的,包括:

函数名|函数解释
---|---
`CURRENT_DATE`|获取当前日期,不用调用
`CURRENT_TIME`|获取当前时间,不用调用
`CURRENT_TIMESTAMP`|当前时间戳
`EXTRACT(日期元素 FROM 日期)`|截取出日期数据中的一部分,例如'年','月','日','小时','秒'等


另一个很常用但并不是都有的就是`now()`函数,它可以获取当前的时间信息

In [17]:
SELECT CURRENT_TIMESTAMP,
       EXTRACT(YEAR   FROM CURRENT_TIMESTAMP)  AS year,
       EXTRACT(MONTH  FROM CURRENT_TIMESTAMP)  AS month,
       EXTRACT(DAY    FROM CURRENT_TIMESTAMP)  AS day,
       EXTRACT(HOUR   FROM CURRENT_TIMESTAMP)  AS hour,
       EXTRACT(MINUTE FROM CURRENT_TIMESTAMP)  AS minute,
       EXTRACT(SECOND FROM CURRENT_TIMESTAMP)  AS second;

1 row(s) returned.

current_timestamp                   year    month    day    hour    minute    second
--------------------------------  ------  -------  -----  ------  --------  --------
2020-07-28 12:46:33.053453+00:00    2020        7     28      12        46   33.0535

### 类型转换

通常用到的类型转换函数有两个

函数名|函数解释
---|---
`CAST(转换前的值 AS 想要转换的数据类型)`|将数据转化为指定类型
`COALESCE(数据1，数据2，数据3……)`|求左侧开始第1个不是`NULL`的值

In [15]:
SELECT CAST('0.1' AS float8) *2 AS result

1 row(s) returned.

  result
--------
     0.2

In [16]:
SELECT COALESCE(NULL,NULL,'0.1') AS result

1 row(s) returned.

  result
--------
     0.1

## 谓词和比较运算符 

所谓谓词就是指返回值为布尔类型的运算符或函数.一般谓词的范围主要包括:

+ 比较运算符,比较两个值是否符合要求

+ LIKE,字符串的部分一致查询

+ BETWEEN,范围查询

+ IS NULL/IS NOT NULL,判断是否为 NULL

+ IN,OR的简便用法,判断是否在序列中

+ EXISTS,判断是否存在

### 三值逻辑和NULL

SQL是三值逻辑,布尔值范围为`TRUE/FALSE/UNKNOWN`,这和多数编程语言不一致,其中`UNKNOWN`通常出现在包含NULL值的逻辑表达式中.

例如下面的逻辑值都是 UNKNOWN：
+ NULL>42
+ NULL=NULL
+ X+NULL>Y

`NULL`值通常表示丢失或不相关的值.当比较丢失值和另一个值(这个值也可能是`NULL`)时逻辑结果总是`UNKNOWN`.

处理`UNKNOWN`逻辑结果和`NULL`时非常容易混淆.

+ NOT TRUE等于FALSE
+ NOT FALSE等于TRUE
+ NOT UNKNOWN等于UNKNOWN

`UNKNOWN`逻辑结果和`NULL`在不同的语言元素中被区别对待.例如所有的查询筛选器(`ON`/`WHERE`/`HAVING`)都把`UNKNOWN`当作`FALSE`处理.使筛选器为`UNKNOWN`的行会被排除在结果集之外.而`CHECK约束`中的`UNKNOWN`值被当作`TRUE`对待.假设表中包含一个`CHECK约束`要求salary列的值必须大于0,向该表插入salary为`NULL`的行时可以被接受(因为`NULL>0等于UNKNOWN`在CHECK约束中被视为和TRUE一样)

在筛选器中比较两个`NULL`值将得到`UNKNOWN`会被当作`FALSE`处理,就好像其中一个`NULL`不等于另一个`NULL`.而`UNIQUE约束`,`排序操作`和`分组操作`认为两个NULL值是相等的.

如果表中有一列定义了`UNIQUE约束将无法向表中插入该列值为NULL的两行`;`GROUP BY`子句把所有的`NULL`值分到一组.`ORDER BY`子句把所有`NULL`值排列在一起.

## 收尾

In [3]:
DROP TABLE IF EXISTS Commodity