# 简单的增删改查

对数据库的增删改查操作是最常见的需求,这实际上是两种操作:

+ 写操作: INSERT,UPDATE,DELETE
+ 读操作: SELECT

本文将主要介绍写操作和简单读操作.复杂查询会是这个系列文章的重点,会按不同的操作在后面的文章中分开讲解.

In [1]:
-- connection: postgres://postgres:postgres@localhost:5432/postgres

In [2]:
-- autocommit: true

switched autocommit mode to True

## 本文使用的表

本文使用的样例表是一张商品表.

In [3]:
CREATE TABLE IF NOT EXIST Commodity
(id      CHAR(4)      NOT NULL,-- 商品id
 name    VARCHAR(100) NOT NULL,-- 商品名
 type    VARCHAR(32)  NOT NULL, -- 商品类型
 sale_price      INT4      DEFAULT 0, -- 售价
 purchase_price  INT4      , -- 进价
 ctime     TIMESTAMPTZ        , --登记日期
 PRIMARY KEY (id))-- 主键为id

In [5]:
SELECT column_name,column_default,is_nullable,data_type FROM information_schema.columns WHERE table_name ='commodity';

6 row(s) returned.

column_name       column_default  is_nullable    data_type
--------------  ----------------  -------------  ------------------------
id                                NO             character
name                              NO             character varying
type                              NO             character varying
sale_price                     0  YES            integer
purchase_price                    YES            integer
ctime                             YES            timestamp with time zone

In [ ]:
DROP TABLE IF EXISTS commodity