# 聚合查询

本文将介绍聚合查询,这已经步入了复杂查询的领域.通常情况下聚合查询指如下几种操作:


1. 对表进行聚合

2. 对表进行分组


本篇文章将介绍两种新的语句:

+ `GROUP BY`子句 用于按列中的值分组

+ `HAVING`子句 用于根据条件筛选组

他们在查询语句中以如下语法书写:


```SQL
SELECT 列1 [AS 别名1],
  列2 [AS 别名2], 
  列3 [AS 别名3], 
  ……
FROM <表名>| (<子查询>) AS 别名
[
  WHERE <条件1> [AND/OR/NOT <条件2> ....]
]
[ 
  GROUP BY <列1>,<列2>...
]
[ 
  HAVING <条件1> [AND/OR/NOT <条件2> ....]
]
[
  ORDER BY (列1, 列2, 列3, ……) [DESC]
]
[
  LIMIT <行数> 
  OFFSET <行数>
]
```

In [1]:
-- connection: postgres://postgres:postgres@localhost:5432/postgres

In [2]:
-- autocommit: true

switched autocommit mode to True

## 准备工作

本文依然使用商品表来作为例子

> 商品表

商品名|品牌|颜色款式|商品种类|商品价格|进货价格|登记日期
---|---|---|---|---|---|---
ATS001|A|黑白宽条纹款|T恤|59|30|2019-06-02 10:00:00
ATS002|A|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
ATSY001|A|蓝白宽条纹初音限定款|T恤|299|45|2020-04-02 10:00:00
BTS001|B|黑白宽条纹款|T恤|59|30|2020-02-02 10:00:00
BTS002|B|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
BTSY001|B|纯白款|T恤|49|20|2020-04-02 10:00:00
ASS000|A|黑色款|短裤|99|60|2020-03-05 10:00:00
ASS001|A|米色款|短裤|99|60|2020-03-05 10:00:00
ASSY001|A|米色底红色花纹超人限定款|短裤|599|140|2020-04-02 10:00:00
BSS001|B|黑色款|短裤|89|50|2020-03-05 10:00:00
BSS002|B|黑底白花款|短裤|96|60|2019-10-05 10:00:00
BSS003|B|白底红花款|短裤|96|60|2020-03-05 10:00:00

In [3]:
CREATE TABLE IF NOT EXISTS Commodity
(id     serial4    PRIMARY KEY,-- 商品id,
 name    VARCHAR(100) NOT NULL UNIQUE,-- 商品名
 brand   VARCHAR(32)  NOT NULL, -- 品牌
 style   VARCHAR(100) NOT NULL, -- 款式
 type    VARCHAR(32)  NOT NULL, -- 商品类型
 sale_price      INT4      DEFAULT 0, -- 售价
 purchase_price  INT4      , -- 进价
 ctime     TIMESTAMPTZ  DEFAULT (now()) --商品录入的时间,默认为当前时间
)

In [4]:
INSERT INTO Commodity ( 
    name,
    brand,
    style,
    type,
    sale_price,
    purchase_price ,
    ctime
) VALUES (
    'ATS001',
    'A',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2019-06-02T10:00:00.000Z'
),
(
    'ATS002',
    'A',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),
(
    'ATSY001',
    'A',
    '蓝白宽条纹初音限定款',
    'T恤',
    299,
    45,
    '2020-04-02T10:00:00.000Z'
),
(
    'BTS001',
    'B',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2020-02-02T10:00:00.000Z'
),
(
    'BTS002',
    'B',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),

(
    'BTSY001',
    'B',
    '纯白款',
    'T恤',
    49,
    20,
    '2020-04-02T10:00:00.000Z'
),
(
    'ASS000',
    'A',
    '黑色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASS001',
    'A',
    '米色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASSY001',
    'A',
    '米色底红色花纹超人限定款',
    '短裤',
    599,
    140,
    '2020-04-02T10:00:00.000Z'
),


(
    'BSS001',
    'B',
    '黑色款',
    '短裤',
    89,
    50,
    '2020-03-05T10:00:00.000Z'
),
(
    'BSS002',
    'B',
    '黑底白花款',
    '短裤',
    96,
    60,
    '2019-10-05T10:00:00.000Z'
),
(
    'BSS003',
    'B',
    '白底红花款',
    '短裤',
    96,
    60,
    '2020-03-05T10:00:00.000Z'
)

In [5]:
SELECT * FROM Commodity

12 row(s) returned.

  id  name     brand    style                     type      sale_price    purchase_price  ctime
----  -------  -------  ------------------------  ------  ------------  ----------------  -------------------------
   1  ATS001   A        黑白宽条纹款              T恤               59                30  2019-06-02 10:00:00+00:00
   2  ATS002   A        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   3  ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2020-04-02 10:00:00+00:00
   4  BTS001   B        黑白宽条纹款              T恤               59                30  2020-02-02 10:00:00+00:00
   5  BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   6  BTSY001  B        纯白款                    T恤               49                20  2020-04-02 10:00:00+00:00
   7  ASS000   A        黑色款                    短裤              99                60  2020-03-05 10:00:00+00:00
   8  ASS001   A        米色款                    短裤              99                60  2020-03-05 10:00:00+00:00
   9  ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2020-04-02 10:00:00+00:00
  10  BSS001   B        黑色款                    短裤              89                50  2020-03-05 10:00:00+00:00
  11  BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00
  12  BSS003   B        白底红花款                短裤              96                60  2020-03-05 10:00:00+00:00

## 聚合函数

在前面的文章中我们已经接触过最简单的聚合函数--`count`.通常聚合函数就是将多行汇总为一行的函数.比较常用的如下:

函数|说明
---|---
COUNT：计算表中的记录数（行数）

SUM：计算表中数值列中数据的合计值

AVG：计算表中数值列中数据的平均值

MAX：求出表中任意列中数据的最大值

MIN：求出表中任意列中数据的最小值