# 关联子查询

复杂查询中另一个领域就是多表间建立关联以获取需要的数据.一种常见的作法就是使用关联子查询

关联子查询是一种子查询,它的特点是必定会有一个`WHERE`条件是将两个表建立起联系的条件.即

```SQL
...
WHERE <表1>.<列1>=<表2>.<列2>
...
```

In [1]:
-- connection: postgres://postgres:postgres@localhost:5432/postgres

In [2]:
-- autocommit: true

switched autocommit mode to True

## 准备工作

本文依然使用商品表来作为例子,但需要用到品牌`A`的每年销售金额统计表用来演示关联子查询在处理时间序列这类连续数据时的能力.

> 商品表

商品名|品牌|颜色款式|商品种类|商品价格|进货价格|登记日期
---|---|---|---|---|---|---
ATS001|A|黑白宽条纹款|T恤|59|30|2019-06-02 10:00:00
ATS002|A|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
ATSY001|A|蓝白宽条纹初音限定款|T恤|299|45|2020-04-02 10:00:00
BTS001|B|黑白宽条纹款|T恤|59|30|2020-02-02 10:00:00
BTS002|B|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
BTSY001|B|纯白款|T恤|49|20|2020-04-02 10:00:00
ASS000|A|黑色款|短裤|99|60|2020-03-05 10:00:00
ASS001|A|米色款|短裤|99|60|2020-03-05 10:00:00
ASSY001|A|米色底红色花纹超人限定款|短裤|599|140|2020-04-02 10:00:00
BSS001|B|黑色款|短裤|89|50|2020-03-05 10:00:00
BSS002|B|黑底白花款|短裤|96|60|2019-10-05 10:00:00
BSS003|B|白底红花款|短裤|96|60|2020-03-05 10:00:00

In [3]:
CREATE TABLE IF NOT EXISTS Commodity
(
 name    VARCHAR(100) PRIMARY KEY,-- 商品名
 brand   VARCHAR(32)  NOT NULL, -- 品牌
 style   VARCHAR(100) NOT NULL, -- 款式
 type    VARCHAR(32)  NOT NULL, -- 商品类型
 sale_price      INT4      DEFAULT 0, -- 售价
 purchase_price  INT4      , -- 进价
 ctime     TIMESTAMPTZ  DEFAULT (now()) --商品录入的时间,默认为当前时间
)

In [4]:
INSERT INTO Commodity ( 
    name,
    brand,
    style,
    type,
    sale_price,
    purchase_price ,
    ctime
) VALUES (
    'ATS001',
    'A',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2019-06-02T10:00:00.000Z'
),
(
    'ATS002',
    'A',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),
(
    'ATSY001',
    'A',
    '蓝白宽条纹初音限定款',
    'T恤',
    299,
    45,
    '2020-04-02T10:00:00.000Z'
),
(
    'BTS001',
    'B',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2020-02-02T10:00:00.000Z'
),
(
    'BTS002',
    'B',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),

(
    'BTSY001',
    'B',
    '纯白款',
    'T恤',
    49,
    20,
    '2020-04-02T10:00:00.000Z'
),
(
    'ASS000',
    'A',
    '黑色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASS001',
    'A',
    '米色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASSY001',
    'A',
    '米色底红色花纹超人限定款',
    '短裤',
    599,
    140,
    '2020-04-02T10:00:00.000Z'
),


(
    'BSS001',
    'B',
    '黑色款',
    '短裤',
    89,
    50,
    '2020-03-05T10:00:00.000Z'
),
(
    'BSS002',
    'B',
    '黑底白花款',
    '短裤',
    96,
    60,
    '2019-10-05T10:00:00.000Z'
),
(
    'BSS003',
    'B',
    '白底红花款',
    '短裤',
    96,
    60,
    '2020-03-05T10:00:00.000Z'
)

In [5]:
SELECT * FROM Commodity

12 row(s) returned.

name     brand    style                     type      sale_price    purchase_price  ctime
-------  -------  ------------------------  ------  ------------  ----------------  -------------------------
ATS001   A        黑白宽条纹款              T恤               59                30  2019-06-02 10:00:00+00:00
ATS002   A        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2020-04-02 10:00:00+00:00
BTS001   B        黑白宽条纹款              T恤               59                30  2020-02-02 10:00:00+00:00
BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
BTSY001  B        纯白款                    T恤               49                20  2020-04-02 10:00:00+00:00
ASS000   A        黑色款                    短裤              99                60  2020-03-05 10:00:00+00:00
ASS001   A        米色款                    短裤              99                60  2020-03-05 10:00:00+00:00
ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2020-04-02 10:00:00+00:00
BSS001   B        黑色款                    短裤              89                50  2020-03-05 10:00:00+00:00
BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00
BSS003   B        白底红花款                短裤              96                60  2020-03-05 10:00:00+00:00

> A品牌的销售金额数据


年份|销售金额(万元)
---|---
2000|3.1
2001|3.4
2002|3.4
2003|3.2
2004|2.8
2005|3.8
2006|3.2
2007|4.1
2009|4.5
2010|4.5

In [6]:
CREATE TABLE IF NOT EXISTS Saleamount
(
 year  DATE  NOT NULL, -- 日期
 amount     FLOAT8  NOT NULL --总销售金额
)

In [7]:
INSERT INTO Saleamount ( 
   year,
 amount
) VALUES 
('2000-01-01',3.1),
('2001-01-01',3.4),
('2002-01-01',3.4),
('2003-01-01',3.2),
('2004-01-01',2.8),
('2005-01-01',3.8),
('2006-01-01',3.2),
('2007-01-01',4.1),
('2009-01-01',4.5),
('2010-01-01',4.5)

In [9]:
SELECT * FROM Saleamount

10 row(s) returned.

year          amount
----------  --------
2000-01-01       3.1
2001-01-01       3.4
2002-01-01       3.4
2003-01-01       3.2
2004-01-01       2.8
2005-01-01       3.8
2006-01-01       3.2
2007-01-01       4.1
2009-01-01       4.5
2010-01-01       4.5

##  从例子开始

> 找出所有商品中售价高于同品牌同类型商品均价的商品

In [9]:
SELECT * FROM Commodity AS t1
WHERE sale_price > (
    SELECT AVG(sale_price)
    FROM Commodity AS t2
    WHERE t1.type = t2.type AND t1.brand = t2.brand
    GROUP BY brand,type
)

5 row(s) returned.

  id  name     brand    style                     type      sale_price    purchase_price  ctime
----  -------  -------  ------------------------  ------  ------------  ----------------  -------------------------
   3  ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2020-04-02 10:00:00+00:00
   5  BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   9  ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2020-04-02 10:00:00+00:00
  11  BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00
  12  BSS003   B        白底红花款                短裤              96                60  2020-03-05 10:00:00+00:00

下面我们来仔细研究下这个查询.

+ 首先我们的需求是要获得满足条件的记录,因此这条查询一定是一条普通查询,在`WHERE`子句中做条件筛选.
+ 然后我们我们需要可以知道不同品牌不同类型商品的均价,这就会用到聚合查询.

In [8]:
SELECT AVG(sale_price)
FROM Commodity
GROUP BY brand,type

4 row(s) returned.

     avg
--------
 62.3333
 93.6667
265.667
145.667

我们希望每条数据可以和品牌,商品类型与之相同的均值数据进行比较,因此需要将这两个查询联系起来,这就是关联子查询的作用了.

这里我们在子查询中加入了一行`WHERE`子句

```SQL
WHERE t1.type = t2.type AND t1.brand = t2.brand
```

其作用就是在这两个查询间建立需要的联系.需要注意

1. 关联子查询需要关联多表,因此通常我们会用`AS 语句`给两个表建立一个别名以避免冲突.
2. 建立关联的子句必须在子查询中,SQL和多数编程语言一样变量存在作用域,且作用域满足内部可以看到外部而外部看不到内部的特点.

## 自关联子查询比较行与行

在SQL中对同一行数据进行列间的比较很简单,只需要在`WHERE`子句里写上比较条件就可以了.但是对不同行数据进行列间的比较却没那么简单.

使用SQL进行行间比较时有两种:

+ 窗口查询,当然前提是使用的数据库管理系统支持窗口查询,而且相对来说约束会多一些.
+ 自关联子查询,也就是使用关联子查询连接自己


本文当然是介绍自关联子查询如何实现行与行之间的比较了.

先看一个例子

> 查询品牌A每年的销售额相比前一年是增长,减少,还是维持现状

+ 实现方式1,使用`CASE`语句结合关联子查询

In [12]:
SELECT T1.year, T1.amount,
       CASE WHEN amount = (SELECT amount
                FROM Saleamount T2
               WHERE T2.year = T1.year - '1 year':: INTERVAL) THEN '持平'
            WHEN amount > (SELECT amount
                FROM Saleamount T2
               WHERE T2.year = T1.year - '1 year':: INTERVAL) THEN '增长'
            WHEN amount < (SELECT amount
                FROM Saleamount T2
               WHERE T2.year = T1.year - '1 year':: INTERVAL) THEN '减少'
       ELSE '—' END AS var
  FROM Saleamount AS T1
 ORDER BY year

10 row(s) returned.

year          amount  var
----------  --------  -----
2000-01-01       3.1  —
2001-01-01       3.4  增长
2002-01-01       3.4  持平
2003-01-01       3.2  减少
2004-01-01       2.8  减少
2005-01-01       3.8  增长
2006-01-01       3.2  减少
2007-01-01       4.1  增长
2009-01-01       4.5  —
2010-01-01       4.5  持平

这种写法重复代码略多,但至少功能上是满足要求的,只是对缺值处理上有一定瑕疵

+ 实现方式2,使用自联结搭配关联子查询

In [13]:
SELECT T1.year, T1.amount,
       CASE WHEN T1.amount = T2.amount THEN '持平'
            WHEN T1.amount > T2.amount THEN '增长'
            WHEN T1.amount <T2.amount THEN '减少'
           ELSE '—' 
        END AS var
  FROM Saleamount AS T1
  CROSS JOIN Saleamount AS T2
  WHERE T2.year = T1.year - '1 year':: INTERVAL
 ORDER BY T1.year

8 row(s) returned.

year          amount  var
----------  --------  -----
2001-01-01       3.4  增长
2002-01-01       3.4  持平
2003-01-01       3.2  减少
2004-01-01       2.8  减少
2005-01-01       3.8  增长
2006-01-01       3.2  减少
2007-01-01       4.1  增长
2010-01-01       4.5  持平

## 收尾

本文内容较短,但并不简单,关联子查询算是比较复杂的筛选方式了,本篇的重点是:

+ 关联子查询中的关联条件需要在子查询内部因为作用域满足内部可以看到外部而外部看不到内部的特点

In [14]:
DROP TABLE IF EXISTS Commodity

In [15]:
DROP TABLE IF EXISTS Saleamount