# 窗口查询

窗口查询是SQL语法中最复杂的查询了,它是面向分析型应用(OLAP)的.并且并不是所有关系型数据库管理软件都支持这种查询(比如mysql就不支持).
很多数据库相关工作者过去都会有这样的想法:"好不容易将业务数据插入到了数据库中,如果能够使用SQL对其进行实时分析的话一定会很方便吧."这也是聚合窗口查询的设计初衷, 但是关系数据库提供支持OLAP用途的功能仅仅只有十几年的时间.

与聚合查询类似,窗口查询需要使用一类特殊的函数,也就是窗口函数.同时也需要使用几个新的关键字构造特殊语法来定义查询.

In [1]:
-- connection: postgres://postgres:postgres@localhost:5432/postgres

In [2]:
-- autocommit: true

switched autocommit mode to True

## 准备工作

本文依然使用商品表来作为例子

> 商品表

商品名|品牌|颜色款式|商品种类|商品价格|进货价格|登记日期
---|---|---|---|---|---|---
ATS001|A|黑白宽条纹款|T恤|59|30|2019-06-02 10:00:00
ATS002|A|蓝白宽条纹款|T恤|79|40|2020-03-02 10:00:00
ATSY001|A|蓝白宽条纹初音限定款|T恤|299|45|2020-04-02 10:00:00
BTS001|B|黑白宽条纹款|T恤|59|30|2020-02-02 10:00:00
BTS002|B|蓝白宽条纹款|T恤|79|40|2018-03-02 10:00:00
BTSY001|B|纯白款|T恤|49|20|2020-04-03 10:00:00
ASS000|A|黑色款|短裤|99|60|2020-03-05 10:00:00
ASS001|A|米色款|短裤|99|60|2020-03-15 10:00:00
ASSY001|A|米色底红色花纹超人限定款|短裤|599|140|2018-04-02 10:00:00
BSS001|B|黑色款|短裤|89|50|2019-03-05 10:00:00
BSS002|B|黑底白花款|短裤|96|60|2019-10-05 10:00:00
BSS003|B|白底红花款|短裤|96|60|2020-11-05 10:00:00

In [3]:
CREATE TABLE IF NOT EXISTS Commodity
(id     serial4    PRIMARY KEY,-- 商品id,
 name    VARCHAR(100) NOT NULL UNIQUE,-- 商品名
 brand   VARCHAR(32)  NOT NULL, -- 品牌
 style   VARCHAR(100) NOT NULL, -- 款式
 type    VARCHAR(32)  NOT NULL, -- 商品类型
 sale_price      INT4      DEFAULT 0, -- 售价
 purchase_price  INT4      , -- 进价
 ctime     TIMESTAMPTZ  DEFAULT (now()) --商品录入的时间,默认为当前时间
)

In [4]:
INSERT INTO Commodity ( 
    name,
    brand,
    style,
    type,
    sale_price,
    purchase_price ,
    ctime
) VALUES (
    'ATS001',
    'A',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2019-06-02T10:00:00.000Z'
),
(
    'ATS002',
    'A',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),
(
    'ATSY001',
    'A',
    '蓝白宽条纹初音限定款',
    'T恤',
    299,
    45,
    '2018-04-02T10:00:00.000Z'
),
(
    'BTS001',
    'B',
    '黑白宽条纹款',
    'T恤',
    59,
    30,
    '2020-02-02T10:00:00.000Z'
),
(
    'BTS002',
    'B',
    '蓝白宽条纹款',
    'T恤',
    79,
    40,
    '2020-03-02T10:00:00.000Z'
),

(
    'BTSY001',
    'B',
    '纯白款',
    'T恤',
    49,
    20,
    '2020-04-03T10:00:00.000Z'
),
(
    'ASS000',
    'A',
    '黑色款',
    '短裤',
    99,
    60,
    '2020-03-05T10:00:00.000Z'
),
(
    'ASS001',
    'A',
    '米色款',
    '短裤',
    99,
    60,
    '2020-03-15T10:00:00.000Z'
),
(
    'ASSY001',
    'A',
    '米色底红色花纹超人限定款',
    '短裤',
    599,
    140,
    '2018-04-02T10:00:00.000Z'
),


(
    'BSS001',
    'B',
    '黑色款',
    '短裤',
    89,
    50,
    '2019-03-05T10:00:00.000Z'
),
(
    'BSS002',
    'B',
    '黑底白花款',
    '短裤',
    96,
    60,
    '2019-10-05T10:00:00.000Z'
),
(
    'BSS003',
    'B',
    '白底红花款',
    '短裤',
    96,
    60,
    '2020-11-05T10:00:00.000Z'
)

In [5]:
SELECT * FROM Commodity

12 row(s) returned.

  id  name     brand    style                     type      sale_price    purchase_price  ctime
----  -------  -------  ------------------------  ------  ------------  ----------------  -------------------------
   1  ATS001   A        黑白宽条纹款              T恤               59                30  2019-06-02 10:00:00+00:00
   2  ATS002   A        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   3  ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2018-04-02 10:00:00+00:00
   4  BTS001   B        黑白宽条纹款              T恤               59                30  2020-02-02 10:00:00+00:00
   5  BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00
   6  BTSY001  B        纯白款                    T恤               49                20  2020-04-03 10:00:00+00:00
   7  ASS000   A        黑色款                    短裤              99                60  2020-03-05 10:00:00+00:00
   8  ASS001   A        米色款                    短裤              99                60  2020-03-15 10:00:00+00:00
   9  ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2018-04-02 10:00:00+00:00
  10  BSS001   B        黑色款                    短裤              89                50  2019-03-05 10:00:00+00:00
  11  BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00
  12  BSS003   B        白底红花款                短裤              96                60  2020-11-05 10:00:00+00:00

## 窗口查询语法和窗口函数

窗口查询的语法如下:

```sql
<窗口函数> OVER (
    [PARTITION BY <列清单>]
     ORDER BY <排序用列清单>
    [ROWS <行数> PRECEDING | FOLLOWING]
)
```

其特点是有`OVER`关键字,通常窗口查询都卸载`SELECT`子句中,但其实`ORDER BY`子句或者`UPDATE`语句的`SET`子句中也可以使用,只不过真的不常用.

窗口查询必须使用窗口函数,窗口函数有两种:

+ 能够作为窗口函数的聚合函数,之前介绍的`SUM,AVG,COUNT,MAX,MIN`都可以
+ 专用的窗口函数,主要是
    + `RANK`,排序函数,如果存在相同位次的记录则会跳过之后的位次,即在并列第一时不会有第二
    + `DENSE_RANK`,排序函数,如果存在相同位次的记录则不会跳过之后的位次,即在并列第一时可以有第二
    + `ROW_NUMBER`,赋予唯一的连续位次,可以认为时给与一个不重复的序号
    
我们先从一个例子开始直观的看下窗口查询的效果

> 查询不同类型商品的售价排名

In [9]:
SELECT *,
       RANK () OVER (PARTITION BY type ORDER BY sale_price DESC) AS ranking
FROM Commodity
ORDER BY ranking

12 row(s) returned.

  id  name     brand    style                     type      sale_price    purchase_price  ctime                        ranking
----  -------  -------  ------------------------  ------  ------------  ----------------  -------------------------  ---------
   3  ATSY001  A        蓝白宽条纹初音限定款      T恤              299                45  2018-04-02 10:00:00+00:00          1
   9  ASSY001  A        米色底红色花纹超人限定款  短裤             599               140  2018-04-02 10:00:00+00:00          1
   2  ATS002   A        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00          2
   7  ASS000   A        黑色款                    短裤              99                60  2020-03-05 10:00:00+00:00          2
   8  ASS001   A        米色款                    短裤              99                60  2020-03-15 10:00:00+00:00          2
   5  BTS002   B        蓝白宽条纹款              T恤               79                40  2020-03-02 10:00:00+00:00          2
  11  BSS002   B        黑底白花款                短裤              96                60  2019-10-05 10:00:00+00:00          4
  12  BSS003   B        白底红花款                短裤              96                60  2020-11-05 10:00:00+00:00          4
   4  BTS001   B        黑白宽条纹款              T恤               59                30  2020-02-02 10:00:00+00:00          4
   1  ATS001   A        黑白宽条纹款              T恤               59                30  2019-06-02 10:00:00+00:00          4
  10  BSS001   B        黑色款                    短裤              89                50  2019-03-05 10:00:00+00:00          6
   6  BTSY001  B        纯白款                    T恤               49                20  2020-04-03 10:00:00+00:00          6

`PARTITION BY`子句能够设定排序的对象范围,本例中为了按照商品种类聚合分组进行排序,因此我们指定了`type`字段.

`ORDER BY`能够指定使用哪一列为轴进行何种顺序的排序.为了按照销售单价的降序进行排列,我们指定了`sale_price`同时加上了`DESC`关键字.

可以看到`PARTITION BY`子句虽然像`GROUP BY`一样将数据分了组,但并没有构造组,而是在计算完成后右拆出了各条数据.通过`PARTITION BY`分组后的记录集合称为**窗口**,其代表的含义是**范围**,这也是"窗口函数"/"窗口查询"名称的由来.使用`PARTITION BY`分割后的各个窗口在定义上绝对不会包含共通的部分,就像刀切蛋糕一样干净利落.这与通过`GROUP BY`子句分割后的集合具有相同的特征.

### 使用聚合函数作为窗口函数计算统计值

排序之外,更多的时候我们会拿窗口查询计算一些比较复杂的统计计算,这就需要用到前面的聚合函数了,我们先看下例子

> 查询各个进货日期下不同种类产品的售价总和

In [14]:
SELECT type,ctime,
    SUM(sale_price) OVER (PARTITION BY type ORDER BY ctime) AS sum_sale_price
FROM Commodity
ORDER BY ctime

12 row(s) returned.

type    ctime                        sum_sale_price
------  -------------------------  ----------------
T恤     2018-04-02 10:00:00+00:00               299
短裤    2018-04-02 10:00:00+00:00               599
短裤    2019-03-05 10:00:00+00:00               688
T恤     2019-06-02 10:00:00+00:00               358
短裤    2019-10-05 10:00:00+00:00               784
T恤     2020-02-02 10:00:00+00:00               417
T恤     2020-03-02 10:00:00+00:00               575
T恤     2020-03-02 10:00:00+00:00               575
短裤    2020-03-05 10:00:00+00:00               883
短裤    2020-03-15 10:00:00+00:00               982
T恤     2020-04-03 10:00:00+00:00               624
短裤    2020-11-05 10:00:00+00:00              1078

可以看到,在不指定`ROWS`时聚合查询的执行步骤应该是:


1. 根据`PARTITION BY`分出窗口
2. 在各个窗口种使用`ORDER BY`指定的规则排序
3. 遍历各个窗口的各行数据,将默认的取**同窗口的当前行和当前行之前的行集合**作为窗口函数的参数进行计算得出当前行的结果.

因此看起来会有一点函数式编程中`reduce`函数的感觉.同时也因为其参数是行的集合,因此聚合函数可以生效

### 为窗口指定大小范围

更多的时候我们关心的是近期行为,比如我们希望获得一个移动平均值,其窗口大小为2即每两条数据一次平均.类似这种需求在股市分析这类时间序列分析中经常会用到.

> 查询各个进货日期下不同种类产品的窗口大小为2的移动平均值

In [17]:
SELECT type,ctime,
    AVG(sale_price) OVER (PARTITION BY type  ORDER BY ctime ROWS 1 PRECEDING) AS sum_sale_price
FROM Commodity
ORDER BY ctime

12 row(s) returned.

type    ctime                        sum_sale_price
------  -------------------------  ----------------
T恤     2018-04-02 10:00:00+00:00             299
短裤    2018-04-02 10:00:00+00:00             599
短裤    2019-03-05 10:00:00+00:00             344
T恤     2019-06-02 10:00:00+00:00             179
短裤    2019-10-05 10:00:00+00:00              92.5
T恤     2020-02-02 10:00:00+00:00              59
T恤     2020-03-02 10:00:00+00:00              69
T恤     2020-03-02 10:00:00+00:00              79
短裤    2020-03-05 10:00:00+00:00              97.5
短裤    2020-03-15 10:00:00+00:00              99
T恤     2020-04-03 10:00:00+00:00              64
短裤    2020-11-05 10:00:00+00:00              97.5

要固定窗口的大小我们就需要使用`ROWS <行数> PRECEDING | FOLLOWING`语句来申明,其含义是向前(PRECEDING)/向后(FOLLOWING)取特定行数和当前行构成集合作为窗口函数的参数.

因此窗口查询的完整执行步骤应该是:

1. 根据`PARTITION BY`分出窗口
2. 在各个窗口种使用`ORDER BY`指定的规则排序
3. 遍历各个窗口的各行数据,
   + 如果不指定`ROWS <行数> PRECEDING | FOLLOWING`将默认的取**同窗口的当前行和当前行之前的行集合**作为窗口函数的参数进行计算得出当前行的结果.
   + 如果指定`ROWS <行数> PRECEDING | FOLLOWING`将**以当前行为原点向前或向后取指定定行数的行和当前行构成集合**作为窗口函数的参数进行计算得到当前行的结果

## 收尾

本文介绍了窗口查询,作为一种高级查询方式,窗口查询目前还很年轻.本文的重点是
+ 理解窗口的含义
+ 理解窗口查询的执行步骤

In [18]:
DROP TABLE IF EXISTS Commodity